<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Perpusku"
        tools:targetApi="31" >
        <activity
            android:name=".book_adapter"
            android:exported="false" />
        <activity
            android:name=".view_history"
            android:exported="false" />
        <activity
            android:name=".view_book"
            android:exported="false" />
        <activity
            android:name=".update_history"
            android:exported="false" />
        <activity
            android:name=".update_book"
            android:exported="false" />
        <activity
            android:name=".create_history"
            android:exported="false" />
        <activity
            android:name=".create_book"
            android:exported="false" />
        <activity
            android:name=".update_member"
            android:exported="false" />
        <activity
            android:name=".create_member"
            android:exported="false" />
        <activity
            android:name=".view_member"
            android:exported="false" />
        <activity
            android:name=".list_history"
            android:exported="false" />
        <activity
            android:name=".list_book"
            android:exported="false" />
        <activity
            android:name=".list_member"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".register_user"
            android:exported="false" />
        <activity
            android:name=".main_menu"
            android:exported="false"
            android:label="@string/title_activity_main_menu" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>